# Xcode
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
build/

# macOS
.DS_Store
._*
.Spotlight-V100
.Trashes

# Secrets
.env
*.key

# Python
__pycache__/
*.pyc
